.home-container {
  padding: 2rem;
  min-height: 100vh;
}

.welcome-section {
  margin-bottom: 2rem;
}

.welcome-section h1,
.welcome-section p {
  color: rgb(255, 255, 255);
}

.stat-card {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  width: 100px;
  height: 60px;
}
.stat-card2 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  width: 100px;
  height: 60px;
}

