/* You can add global styles to this file, and also import other style files */
/* En src/styles.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}